* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.header__container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #2e2f42;
}
.header-link {
  padding: 24px 0;
  margin-right: 76px;
}
.accent {
  color: #4d5ae5;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.active-link::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  position: relative;
  top: 20px;
}
.contact-address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.main-section {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7)), url(./../images/people-office.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding: 188px 0;
  width: 100%;
}
.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.main-title {
  display: block;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 0.02em;
  line-height: 1.07;
  width: 496px;
  text-align: center;
}
.btn-hero {
  border: none;
  display: block;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #404bbf;
}
.features-section,
.team-section,
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.icon-features {
  display: flex;
  background: #f4f4fd;
  fill: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0;
}
.section-list-item {
  width: calc((100% - 72px) / 4);
  max-width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
}

.section-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.subsection-title {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-text {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  background-color: #f4f4fd;
}
.team__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  width: 100%;
}

.features-section,
.portfolio-section {
  text-align: left;
}

.team-list-item {
  display: flex;
  width: 264px;
  height: 428px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  background-color: #ffffff;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
.team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 232px;
  padding: 32px 16px;
}
.team-box .subsection-title,
.team-box .section-text {
  justify-content: center;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
  padding: 8px;
  list-style: none;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px;
  cursor: pointer;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.icon-team {
  display: flex;
  fill: #f4f4fd;
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  width: 100%;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  flex: 0 0 calc((100% - 48px) / 3);
  max-width: 360px;
  background-color: #ffffff;
  cursor: pointer;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.box-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  width: 360px;
  height: 300px;
  padding: 40px 32px;
}
.box-overlay:hover .overlay-text {
  transform: translateY(0);
}
.site-footer {
  background-color: #2e2f42;
}
.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
  max-width: 1140px;
  margin: 0 auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
  padding: 100px 0;
}
.footer__container__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 132px;
}

.footer-link {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  text-align: center;
  list-style: none;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.icon-footer {
  display: flex;
  fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
